$def with (coverInfos)
$:render.header()

<div class="container">
$for coverInfo in coverInfos:
     <hr class="featurette-divider">

     <div class="row">
         <div class="span6">
            <img class="img-rounded" src="$config.static/images/$coverInfo['artist']/$coverInfo['album_name']/$coverInfo['cover_name_1200']"></img>
         </div>
         <div class="span6">
            <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         </div>
     </div>

     <hr class="featurette-divider">

     <div class="row">
         <div class="span6">
            <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
         </div>
         <div class="span6">
            <img class="img-rounded" src="$config.static/images/$coverInfo['artist']/$coverInfo['album_name']/$coverInfo['cover_name_1200']"></img>
         </div>
     </div>

</div><!-- /.container -->

$:render.foot()
