<html> 
    <head>
        <title>Hello</title>
    </head>
    <body>
        <img src="$config.static/images/onePiece.png"  width="1170" height="300"/>
        <br>
        <form action=? method="POST">
          <p>album_name:        <input type="text" name="album_name" /></p>
          <p>artist:            <input type="text" name="artist" /></p>
          <p>year_record:       <input type="text" name="year_record" /></p>
          <p>music_contain:     <input type="text" name="music_contain" /></p>
          <p>description:       <input type="text" name="des" /></p>
          <p>ximiURL:           <input type="text" name="ximiurl" /></p>
          <p>coverURL:          <input type="text" name="coverurl" /></p> 
          <p>file:              <input type="file" name="path" /></p> 

          <input type="submit" value="Submit" />
        </form>
    </body> 
</html>
