$def with (videos)
$:render.iheader()
$ ip = '172.17.144.34:8000'

<div class="container">
$for video in videos:
        <div class="row">
            <div class="row media_title" style="text-align:center; background-color:#EEEEEE" height="80">
                 <h3>...$video["title"]...</h3>
            </div>
            $for v in video["video"]:
                    $ l = len(v)
                    $if video["nu"] != 1:
                        <div class="span6" style="text-align:center">
                    $else:
                        <div style="text-align:center">
                    <div class="row media_info" style="text-align:center; background-color:#EEEEEE" width="440">
                         <video controls preload="auto" width="440" height="280"> 
                             <source src="http://$ip/$v" type="video/mp4">
                         </video>
                         <br/><div>
                         <a style="font-size:20px;"> ...$v[0:l-4]... </a>
                         </div><br/>
                     </div>
                     </div>
        </div>
        <br/>
        <hr>
        <br/>
</div>

$:render.ifoot()
